---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import PartidosSection from '../components/PartidosSection.astro';
import InfoSection from '../components/InfoSection.astro';
---

<Layout>
  <main>
    <HeroSection />
    <PartidosSection />
    <InfoSection />
  </main>
</Layout>
