---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <meta
      name="description"
      content="412 es el programa de streaming de debate de fútbol y entretenimiento. Lunes y Viernes 22hs en Kick. Conducido por Davo Xeneize, La Cobra, Teo D'Elia, Benito SDR y Agusneta."
    />
    <title>412 - El Programa de Fútbol</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
</style>
